/* this is the styling for the home page */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #d3d7d8;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #b5effd;
  background-color: #7ca8b3;
  position: fixed;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  color: #071a1f;
}

.hamburger {
  display: none
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #071a1f;
  border:0.5px dotted #b5effd;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
        
}

.nav-item {
  margin-left: 7rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 500;
  color: #071a1f !important;
}

.nav-link:hover {
  color: #071a1f !important;
  padding: 10px 20px;
  font-weight: 600;
  background-color: #d3d7d8;
  /* margin: 0 25px ; work on ths */
}

.nav-logo {
  font-weight: 500;
  color: #071a1f;
  text-decoration: none;
 
}
.nav-logo:hover {
    font-weight: 700;
    color: #d3d7d8;
    text-decoration: line-through;
   
  }

.nav-logo h1 img {
    height: 25px;
    width: 40px;
    color: #d3d7d8;
  }

.nav-logo h1 {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    padding: 10px;
    position: fixed;
    left: -100%;
    top: 8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #7ca8b3 ;
    border-radius: 100px 15px;
    border: 1px dotted #b5effd ;
    width: 90%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 3px 5px #7ca8b356 ;
            box-shadow: 3px 5px #7ca8b356 ;
  }
  .nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #071a1f !important;
    
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-link:hover {
    color: #071a1f  !important;
    font-weight: 500;
    padding: 10px 100px;
    border-radius: 50px 7px;
    background-color: #d3d7d8;
  }
  .nav-item {
    margin: 1.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

/* ------------------- End of nav---------------- */

.banner {
  height: auto;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #2c4952;
}

.banner .container-b {
  background-color: #2c4952;
  width: 75%;
  margin: 0px auto;
  /* padding-top: 3%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner .container-b .info{
    padding-top: 5%;
}
.banner .container-b img {
  margin-top: 5%;
  width: 350px;
  border-radius: 100px 15px;
  border: 0.5px dotted #7ca8b3 ;
  box-shadow: 4px 6px #7ca8b356 ;
}

@media only screen and (max-width: 768px) {
  .banner .container-b img {
    display: none;
  }
}

@media only screen and (min-width: 1224px) {
  .banner .container-b img {
    width: 450px;
    height: 350px;
  }
}

.banner .container-b h1 {
  color: #d3d7d8;
  font-size: 28px;
  font-weight: 500;
  width: 80%;
  padding-bottom: 15px;
}

.banner .container-b h1 span {
  color: #7ca8b3;
}

.banner .container-b p {
  font-size: 15px;
  font-weight: 100;
  width: 80%;
  color: #fff;
  line-height: 20px;
  font-style: italic;
  width: 80%;
}

.banner .container-b button {
  margin-top: 35px;
  width: 90px;
  height: 30px;
  background-color:#b5effd;
  border: none;
  border-radius: 3px;
  color: #071a1f;
  font-size: 13px;
  font-style: italic;
}

.banner .container-b .btn2 {
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid #fff;
}

.banner .container-b .btn2 a {
  color: #fff;
  text-decoration: none;
}

.banner-b {
  width: 80%;
  margin: 5% auto;
}

@media only screen and (min-width: 769px) {
  .banner-b img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .banner-b img {
    display: block;
    width: 100%;
    border-radius: 100px 15px;
    border: 2px dotted  #7ca8b356;
    box-shadow: 6px 10px  #7ca8b3;
  }
}

/* End of banner */
